.menu_option{

  position: absolute;
  width: 60px;
  height: 30px;
  left: 2.5vw;
  top:35%;

}
.menu_option_button{

  position: absolute;
  width: 60px;
  height: 30px;
  left: 2.5vw;
  top:-45vh;
  border-color: #00000000;
  color: #00000000;

}

.menu_box{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  position: absolute;
  width: 95vw;
  height: 10vh;
  left: 2.5vw;
  top: 1vh;
  background: rgba(0, 0, 0, 0.001);
  border: 0.5vh solid #000000;
  border-radius: 2.5vw;
  backdrop-filter: blur(0.5vh);
  align-items: center;

}
.menu_text{
  /* KLoad/Авторизация */
  
  position: absolute;
  width: 50vw;
  top: calc(50% - 64px/2 + 0.5px);

  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  /* identical to box height */
  text-align: center;

  color: #FFFFFF;



  
}
.menu_text_button {
  position: absolute;
  font-family: 'Press Start 2P';
  margin-top:2.5%;
  font-size: 28px;
  line-height: 32px;
  color: #FFFFFF;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  user-select: none;
}

/* Эффекты при наведении / нажатии */
.menu_text_button:hover {
  text-shadow: 0 0 8px #0ff;
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.menu_text_button:active {
  transform: scale(0.97);
  opacity: 0.8;
}