
.input_area{
    width: 40vw;
    height: 2vh;
    min-height: 2vw;
    margin-top: 5vh;
    margin-left: 1vw;
    /* margin-right: 10vw; */
    right: 10vw;
    color-scheme: light dark;
    border-radius: 1vh;
    border-width: 0.25vh;

    --form-width: 60vw;      /* можно поменять */
    --form-max-width: 800px;
    --label-width: 30%;      /* ширина колонки с текстом */
    --row-gap: 2.5vh;
    --input-height: 3.2rem;  /* удобнее, чем vh/vw */
    --border-radius: 0.8rem;
    --border-size: 0.18rem;
}
.input_area_incorrect{
    width: 40vw;
    height: 2vh;
    min-height: 2vw;
    margin-top: 5vh;
    margin-left: 1vw;
    /* margin-right: 10vw; */
    right: 10vw;
    color-scheme: light dark;
    border-radius: 1vh;
    border-width: 0.25vh;
    border-color: rgb(255, 0, 0);
    background-color: darkred;


    --form-width: 60vw;      /* можно поменять */
    --form-max-width: 800px;
    --label-width: 30%;      /* ширина колонки с текстом */
    --row-gap: 2.5vh;
    --input-height: 3.2rem;  /* удобнее, чем vh/vw */
    --border-radius: 0.8rem;
    --border-size: 0.18rem;
}

/* маленькая визуальная тонкость — фокус */
.input_area:focus{
  box-shadow: 0 0 0.4rem rgba(255, 0, 0, 0.253);
}
.input_text{
  width: 50vw;
  top: 2.5vh;
  /* margin-right: 10vw; */

  font-family: 'Press Start 2P';
  font-style: normal;
  font-size: calc((5vh+5vw)/2);
  /* identical to box height */
  text-align: center;

  color: #000000;
}
.form_area{
    display: flex;
    flex-direction: column;
    width: var(--form-width);
    max-width: var(--form-max-width);
    gap: var(--row-gap);
    box-sizing: border-box;
    align-items: stretch;
    margin-top: 1vh;
    /* position: static; */
    /* margin-right: 10vw; */
}
.form_row{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    box-sizing: border-box;
    width:100%;
}/* метка (текст слева) */
.label{
  width: var(--label-width);
  min-width: 110px; /* чтобы длинные метки не ломали layout */
  text-align: left;
  font-family: 'Press Start 2P', sans-serif;
  font-size: clamp(12px, 1.6vw, 18px);
  color: #111;
}