#root {
  
  
  margin: 0 auto;
  padding-left: 2.5vw;   /* опционально: симулирует боковые отступы */
  padding-right: 2.5vw;
  display: flex;
  flex-direction:column;
  box-sizing: border-box;
  align-items: center;



}


.content_box{
  display: flex;
  flex-direction:column;
  box-sizing: border-box;

  width: 95vw;
  min-height: 82.5vh;
  margin: 15vh auto 5vh auto; /* ← центр по горизонали (auto) */
  padding: 2.5vh 3vw 3vh 3vw; /* внутренние отступы, снизу место для “пустоты” */
  gap:2.5vh;
  background:rgb(0, 0, 0,0.90);
  border-radius: 2.5vw;
  box-shadow:
      0 0 1.5vw 1.5vh #000000;
  ;
  backdrop-filter: blur(0.5vh);
  align-items: center;
  z-index: auto;

}

.lable_text{
  font-size: 32px;
}
.content_text{
  width: 100%;
  font-family: 'Press Start 2P';
  font-style: normal;
  font-size: 24px;
  text-align: left;
  background-color: #ffffff0c;
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
  border-radius: 0.5vw;

  border: rgb(0, 255, 179);
  border-style:dashed;
  overflow-wrap: anywhere;

  color: #ffffff;
}
.button_box{

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:1.5vh;

}

.image{
  width: 50px;
  height: 50px;
  border: rgb(0, 255, 179);
  border-style:groove;
  border-radius: 5px;
}