#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.content_box{
  display: flex;
  flex-direction:column;
  box-sizing: border-box;

  position: absolute;
  width: 95vw;
  height: 82.5vh;
  left: 2.5vw;
  top: 15vh;
  background:rgb(0, 0, 0,0.90);
  border-radius: 2.5vw;
  /* filter: drop-shadow(0 0 8px rgb(0, 0, 0)); */
  box-shadow:
      /* 0 0 30px 10px rgba(0, 0, 0, 1), */
      0 0 45px 15px #000000;
  ;
  /* border: 5vh solid #000000; */


  backdrop-filter: blur(0.5vh);
  align-items: center;


}

.content_text{
  /* position: absolute; */
  width: 50vw;
  top: 2.5vh;

  font-family: 'Press Start 2P';
  font-style: normal;
  font-size: calc((5vh+5vw)/2);
  /* identical to box height */
  text-align: center;

  color: #ffffff;
}

.button_box{

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:1.5vh;

}
.form_area{
    display: flex;
    flex-direction: column;
    width: var(--form-width);
    max-width: var(--form-max-width);
    gap: var(--row-gap);
    box-sizing: border-box;
    align-items: stretch;
    margin-top: 1vh;
    /* position: static; */
    /* margin-right: 10vw; */
}